<section class="my-5 mt-5 pt-5">
    <div class="container">

    
    <input  type="search" class="form-control mx-auto my-2 w-75 p-3" placeholder="Search by name...." >
    <div class="row mt-5 pt-5 g-4">
     @for (product of filteredArray; track product._id) {
      <div class="col-md-3">
        <div class="card">
            <img [src]="product.imageCover" class="card-img-top w-100 object-fit-contain" alt="...">
            <div class="card-body">
              <h5 class="card-title productTitle">{{product.title}}</h5>
              <span class="h6 text-success  d-block">{{product.category.name}}</span>
              <span class="h6 text-success mb-3 d-block">{{product.price |  currency:'GBP' }}</span>
              <p class="card-text description">{{product.description}}</p>
              <a class="btn btn-success">Buy now</a>
            </div>
          </div>
      </div>
    }
    </div>
</div>
  </section>