<section class="my-5 mt-5 pt-5">
  <div class="container">
    <div class="filters">
      <input type="search" class="form-control my-2 w-75 p-3" placeholder="Search by name...." [(ngModel)]="searchTerm" (input)="onSearchChange()">

      <select [ngStyle]="{ display: cat !== 'all' ? 'block' : 'block' }" [(ngModel)]="selectedCategory" (change)="onCategoryChange(selectedCategory)" class="form-select w-25" aria-label="Default select example">
        <option value="all" selected>All categories</option>
        @for (cat of categories; track cat._id) {
        <option [value]="cat.name">{{cat.name}}</option>
    }
      </select>
    </div>

    <div class="row mt-5 pt-5 g-4">
      @for (product of filteredProducts; track product._id) {
       <div class="col-md-3">
         <div class="card">
             <img [src]="product.imageCover" class="card-img-top w-100 object-fit-contain" alt="...">
             <div class="card-body">
               <h5 class="card-title productTitle">{{product.title}}</h5>
               <span class="h6 text-success  d-block">{{product.category.name}}</span>
               <span class="h6 text-success mb-3 d-block">{{product.price |  currency:'GBP' }}</span>
               <p class="card-text description">{{product.description}}</p>
               <a [ngStyle]="{ display: admin ? 'none' : 'block' }" class="btn btn-success">Buy now</a>
               <div [ngStyle]="{ display: admin ? 'block' : 'none' }">
                <a class="btn btn-warning">Edit</a>
                <a class="btn mx-2 btn-danger">Delete</a>
               </div>
               
             </div>
           </div>
          </div>
        }
    </div>

    @if (!filteredProducts.length) {<div class="text-danger text-xxl-center fs-1">OOps... there is no products in this category</div>}

  </div>
</section>
