<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <!-- Logo and Tagline Section -->
      <div class="footer-col">
        <p  class="navbar-brand footer-logo" href="#"><span class="spanHeaderName-1">Quick</span ><span class="spanHeaderName-2">Pik</span></p>
        <p>Shop smarter, not harder.<br>Get it delivered.</p>
        <div class="social-icons mt-2">
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>

      <!-- Quick Links Section -->
      <div class="footer-col">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <!-- Locations Section -->
      <div class="footer-col">
        <h4>Locations</h4>
        <ul>
          <li><a href="#">Mumbai</a></li>
          <li><a href="#">Pune</a></li>
          <li><a href="#">Nagpur</a></li>
          <li><a href="#">Bangalore</a></li>
          <li><a href="#">Goa</a></li>
        </ul>
      </div>
    </div>

    <!-- Footer Bottom Section -->
    <div class="footer-bottom">
      <p>&#64; All Rights Reserved QuickPik</p>
    </div>
  </div>
</footer>
