.spanHeaderName-2,
.spanHeaderName-1 {
  font-family: "Outfit", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

.spanHeaderName-2
{
  color: #3CDA5F;
}
.nav-link{

  color: #0A2640 ;
  font-size: 16px;
  font-weight: 800;
  padding-left: 20px !important;
}
.nav-link:hover{
  opacity: .9
}

  a.btn.btn-primary.me-3.btn-navbar {
    border: 2px solid;
    border-image-source: linear-gradient(90deg, #999999 0%, #FFFFFF 100%);
    border-image-slice: 1;
    background-color: #3CDA5F;
    width: 145px;
    font-weight: 800;
}
a.btn.btn-primary.me-3.btn-navbar:hover{
  opacity: .9;
}
