<app-products [admin]="true"></app-products>
<input style="bottom: 2rem; left: 2rem;border-radius: 0; border-top-left-radius: 50%; border-bottom-right-radius:50% ; " type="submit" value="Add product" class="btn btn-success py-4 my-5 position-fixed " [routerLink]="['/admin',0]">

<input style="bottom: 2rem; right: 2rem;border-radius: 0; border-top-right-radius: 50%; border-bottom-left-radius:50% ; " type="submit" value="Add category" class="btn btn-warning py-4 my-5 position-fixed " [routerLink]="['/admin',0]">