
<!-- Farrag section -->
 <div class="hero w-100">
    <div style="width: 90%;" class="mx-auto">
        <div class="row">
            <div class="col-md-6">
                <div class="w-75">
                    <div class="offer bg-success-subtle rounded-pill w-75 py-1 px-3">30% Off on groceries</div>
                    <div class="herotext">
                        <h1 class="fw-bolder" style="font-size: 5rem;">
                            Shop smarter, not harder. 
                        </h1>
                        <span style="font-size: 5rem;" class="text-danger fw-bolder h1">Get it ordered.</span>
                        <p>Save time, skip the lines. We've got you covered.</p>
                    </div>
                    <button style="background-color: #3cda5f; border: none;" class="btn btn-success fw-bold py-2 px-lg-4">Shop now</button>
                </div>

            </div>
            <div class="col-md-6">
                <div style="width: fit-content;" class="mx-auto position-relative">
                    <div class="eclips">
                    </div>
                    <div style="width: 26.875rem; bottom: 0; left: 10%;" class="msg rounded shadow-lg p-2 bg-white position-absolute d-flex align-items-center">
                        <div class="image w-25 pe-2"><img class="w-100" src="./assets/Ellipse 4.svg" alt=""></div>
                        <div class="message  ">
                            <h5>Ashely Daniels</h5>
                            <p class="text-muted m-0">"Saved me tons of time - never going back to grocery shopping!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </div>
<!-- Farrag section -->

<!-- Karam section -->
<!-- Karam section -->

<!-- Abdelgawad section -->
<!-- Abdelgawad section -->
