
<!-- Farrag section -->
 <div class="hero w-100">
    <div style="width: 90%;" class="mx-auto">
        <div class="row">
            <div class="col-md-6 costomize1" >
                <div class="">
                    <div class="offer bg-success-subtle rounded-pill w-75 py-1 px-3">30% Off on groceries</div>
                    <div style="color: #0A2640;" class="herotext">
                        <h1 class="fw-bolder s" style="font-size: 5rem;">
                            Shop smarter,
                        </h1>
                        <h1 class="fw-bolder h" style="font-size: 5rem;">
                            not harder.
                        </h1>
                        <span style="font-size: 5rem;" class="fw-bolder h1 o">Get it ordered.</span>
                        <p>Save time, skip the lines. We've got you covered.</p>
                    </div>
                    <button [routerLink]="['/products','all']" style="background-color: #3cda5f; border: none;" class="btn btn-success fw-bold py-2 px-lg-4">Shop now</button>
                </div>

            </div>
            <div class="col-md-6 costomize2">
                <div style="width: fit-content;" class="mx-auto position-relative">
                    <div class="eclips">
                    </div>
                    <div style="width: 26.875rem; bottom: 0; left: 10%;" class="msg rounded shadow-lg p-2 bg-white position-absolute d-flex align-items-center">
                        <div class="image w-25 pe-2"><img class="w-100" src="./assets/Ellipse 4.svg" alt=""></div>
                        <div class="message  ">
                            <h5>Ashely Daniels</h5>
                            <p class="text-muted m-0">"Saved me tons of time - never going back to grocery shopping!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 90%;" class="mx-auto my-5">
      <h1 class=" my-3 text-capitalize text-success text-center">our categories</h1>
      <owl-carousel-o [options]="customOptions">
        @for (cat of categories; track cat._id) {
        <ng-template carouselSlide>
          <div [routerLink]="['/products',cat.name]" class="card mx-4">
          <img style="aspect-ratio: 1/1;" [src]="cat.image" class="card-img-top w-100 object-fit-cover" [alt]="cat.name">
          <div class="card-body">
            <p class="card-text text-success text-center">{{cat.name}}</p>
          </div>
        </div>
      </ng-template>
      }
      </owl-carousel-o>
    </div>


 </div>
<!-- Farrag section -->

<!-- Karam section -->
<div class="container-xxl mt-4 mid">
  <div class="container">

    <div class="row justify-content-center">

      <div class="border row product_card p-0 m-2 castomize3">
        <img class="col-6 p-0 object-fit-cover" src="https://s3-alpha-sig.figma.com/img/66df/e5e6/32404495f9639d1d80f6e96a35e998cc?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=djjYiIclz~63fHjEmYAUuWXj7XLyMqS9UMdALIJN4rHUVgrum7B1WOz1cQ1SWwNdE~lb3hFCpTzm8Goz-NrRq1OyeaBrnOtGpsKaUJi40ABuep6XeCRijtE8d0C2Z8TjMXp6F7Q3PBp4I8X-KAGMSSQ8nyw02fyMctkf2G15dCMONe4tO~sF4-WN63xiaGo~HWlO5SetiiX9U7shYhmHv-fEQ9NTOpG7Sdt8R73VhnB~jNg3a27RJHGMotwNzrrS80Mwln1I6qv4rKC7io4-wvK69ckmIK33oynGqO-9k0z8a5vsCtUkSJK-Se5dza~orlA~NdUc0cul5SfLFSDUXQ__" alt="">
        <div class="col-6 row m-auto colors" style="line-height: 40px;">
          <h5 class="colors">Elegent Perfums</h5>
          <p>$16.00</p>
          <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i> long lasting</p>
          <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Affordable price</p>
          <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Best Perfum</p>
          <button class="btn btn-light colors col-6" ><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
        </div>
      </div>

      <div class=" border row product_card p-0 m-2 castomize3">
        <img class="col-6 p-0 object-fit-cover" src="https://s3-alpha-sig.figma.com/img/13ef/e1f1/4aaed7b57c4607c96e75ba8cc5ca7c8b?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VtBdCvsuiAeAzo~Rex89-Pd3p2K5PZsDCigfQEaez26cxu77-wPHa4m01iNUViSVrtdDfFvHkwnUgWpfJzxLClor~GbcFqvmgE2VJ18CzXfNd9ZBY-Ne2PuHHF7oZXTuixSz~gxpXuj1fCki1ytnl0ZqwfommiQAAezg1E6h-gd-JT1Bz3QcS21X1DCQQHh7Vc5eyDNT5VPhn4qRnZWiOLh~fuYzhpl0SjctJ100pSS5Rtuo5Djg30jdGpbW~MEGR9LmdPo2XY6~5qk-vtLtYVsXFMjhNHoRzpmAIGqBFrYM-9Ljjf4wy45Dp8SEgjE8OsLGWKJeEfcxg00ThTzRKw__" alt="">
        <div class="col-6 row m-auto colors" style="line-height: 40px;">
          <h5 class="colors">Elegent Perfums</h5>
          <p>$16.00</p>
          <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Allergy free</p>
          <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Best Product</p>
          <p><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Affordable price</p>
          <button class="btn btn-light colors col-6"><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
        </div>
      </div>

    </div>

    <div class="row second_section justify-content-center text-center mt-4 castomize3">

      <h2 class="col-12 colors" >Medical Products</h2>

      <div class="card medical_card fir m-2 castomize3 ">
          <div class="medical_card_parag mt-5 w-100 colors text-start castomize3">
            <p>from $0.99</p>
            <h4 class="colors">Breathable <br> Face Mask</h4>
            <button class="btn btn-primary mt-2 text-white">Shop Now</button>
          </div>
      </div>

      <div class="card medical_card sec m-2 castomize3 ">
          <div class="medical_card_parag mt-5 w-100 text-start castomize3" style="color: #184363;font-weight: 700;">
            <p>from $0.99</p>
            <h4 class="colors">Medicin Pack <br> Get it Now 45% Off</h4>
            <button class="btn btn-primary mt-2 text-white">Shop Now</button>
          </div>
      </div>

    </div>

    <div class="d-flex flex-wrap justify-content-center mt-4">
      <div class="m-auto triangle"></div>
      <div class="w-50">
        <h1 class="castomize4" style="font-size: 40px; font-weight: 700; margin-top: 70px; line-height: 1.2;">
          Big city savings,<br> delivered to <br> your <span class="text-danger">doorstep.</span>
        </h1>
      </div>

      <p class="w-100 text-center mt-4 colors" style="font-size: 20px;">Our Actions speak louder than WORDS</p>
    </div>

  </div>

</div>
<!-- Karam section -->

<!-- Abdelgawad section -->
<section class="testimonial-section">
  <div class="container">
    <!-- Section Header -->
     <div class="row justify-content-between mb-5 ">
      <h2 class="testimonial-header">Unlock the secrets of satisfied customers.</h2>
       <div class="col-auto spans costomize5">
         <span class="testimonial-nav spanArrow"><i class="fas fa-chevron-left"></i></span>
         <span class="testimonial-nav spanArrow"><i class="fas fa-chevron-right"></i></span>

       </div>
     </div>

    <!-- Testimonials and Navigation -->
    <div class="row align-items-center">
      <!-- Left Arrow -->


      <!-- Testimonial Cards -->
      <div class="col">
        <div class="row justify-content-center px-5 costomize6">
          <div class="col-md-4 costomize6">
            <div class="testimonial-card text-center">
              <p>"Never going back to waiting in lines! Shop smarter, get it delivered with QuickPik. It's that simple."</p>
              <div class="d-flex align-items-center justify-content-center contentOfAvatar my-3">
                <img src="../../../assets/abdelgawad-img.png" alt="Albus Stella" class="rounded-circle testimonial-avatar">
                <div class="ms-2">
                  <h6 class="mb-0">Albus Stella</h6>
                  <small style="font-weight: bold;">Manager &#64; Howarts</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 costomize6">
            <div class="testimonial-card text-center">
              <p>"Wide selection, even in my small town! Found everything I needed for my birthday party with just a few clicks. Thanks, QuickPik!"</p>
              <div class="d-flex align-items-center justify-content-center contentOfAvatar my-3">
                <img src="../../../assets/abdelgawad-img-center.png" alt="Severus Snape" class="rounded-circle testimonial-avatar">
                <div class="ms-2">
                  <h6 class="mb-0">Severus Snape</h6>
                  <small style="font-weight: bold;">Manager &#64; Slytherin</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 costomize6">
            <div class="testimonial-card text-center">
              <p>"Lifesaver for busy families! Fresh groceries delivered groceries in a flash - dinner's on the table, thanks QuickPik!”</p>
              <div class="d-flex align-items-center justify-content-center contentOfAvatar my-3">
                <img src="../../../assets/abdelgawad-img-end.png" alt="Harry Brige" class="rounded-circle testimonial-avatar">
                <div class="ms-2">
                  <h6 class="mb-0">Harry Brige</h6>
                  <small style="font-weight: bold;">Team Leader &#64; Gryffindor</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Arrow -->

    </div>
  </div>
</section>
<section class="section-2-Abdelgawad">
  <div class="container">
    <div class="row ">
      <div class="background-img"></div>
      <div class="secontion-content costomize7">
        <h1 class="section-2-Abdelgawad-header">SignUp For Exclusive Offers And Discounts</h1>
        <button class="section-2-Abdelgawad-button">Sign Up</button>
      </div>
    </div>

  </div>
</section>
<!-- Abdelgawad section -->
